name: todo infra pipeline
trigger: 
 branches:
    include:
      - main 

pool: default

stages:
  - stage: 
    jobs:
      - job: 
        steps:
        - task: TerraformInstaller@1
          inputs:
            terraformVersion: 'latest'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            backendServiceArm: 'todo_svc'
            backendAzureRmOverrideSubscriptionID: '3d1ce785-6c4d-4565-bb5e-3b46939260a6'
            backendAzureRmResourceGroupName: 'hehehe-rg'
            backendAzureRmStorageAccountName: 'tvsstg01'
            backendAzureRmContainerName: 'mycontainer'
            backendAzureRmKey: 'dev.terraform.tfstate'
  - stage: 
    jobs:
      - job: 
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            backendServiceArm: 'todo_svc'
            backendAzureRmOverrideSubscriptionID: '3d1ce785-6c4d-4565-bb5e-3b46939260a6'
            backendAzureRmResourceGroupName: 'hehehe-rg'
            backendAzureRmStorageAccountName: 'tvsstg01'
            backendAzureRmContainerName: 'mycontainer'
            backendAzureRmKey: 'dev.terraform.tfstate'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'plan'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            environmentServiceNameAzureRM: 'todo_svc'
            environmentAzureRmOverrideSubscriptionID: '3d1ce785-6c4d-4565-bb5e-3b46939260a6'

  - stage: 
    jobs:
      - job: 
        steps:
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'init'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            backendServiceArm: 'todo_svc'
            backendAzureRmOverrideSubscriptionID: '3d1ce785-6c4d-4565-bb5e-3b46939260a6'
            backendAzureRmResourceGroupName: 'hehehe-rg'
            backendAzureRmStorageAccountName: 'tvsstg01'
            backendAzureRmContainerName: 'mycontainer'
            backendAzureRmKey: 'dev.terraform.tfstate'
        - task: TerraformTask@5
          inputs:
            provider: 'azurerm'
            command: 'apply'
            workingDirectory: '$(System.DefaultWorkingDirectory)/env/dev'
            environmentServiceNameAzureRM: 'todo_svc'